<a href="https://colab.research.google.com/github/smarttransit-ai/gtfs-feeds/blob/main/GTFS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install --upgrade gtfs-realtime-bindings
!pip3 install protobuf3-to-dict

In [26]:
from protobuf_to_dict import protobuf_to_dict
from google.transit import gtfs_realtime_pb2
import requests
import pandas as pd
feed = gtfs_realtime_pb2.FeedMessage()

In [44]:
response = requests.get('http://devdata.nashvillemta.org/TMGTFSRealTimeWebService/gtfs-realtime/trapezerealtimefeed.pb')
feed.ParseFromString(response.content)
dict_obj = protobuf_to_dict(feed)
alerts=[]
vehicles=[]
trip_updates=[]

for record in dict_obj['entity']:
  if 'alert' in record.keys():
    alerts.append(record['alert'])
  if 'vehicle' in record.keys():
    vehicles.append(record['vehicle'])
  if 'trip_update' in record.keys():
    trip_updates.append(record['trip_update'])

print(str(len(trip_updates))+' trip updates',str(len(alerts))+' alerts',str(len(vehicles))+' vehicle updates')

148 trip updates 12 alerts 85 vehicle updates

In [45]:
alertsdf = pd.DataFrame(alerts)
vehicles = pd.DataFrame(vehicles)
trip_updates = pd.DataFrame(trip_updates)

In [47]:
alertsdf.dtypes

active_period        object
informed_entity      object
header_text          object
description_text     object
cause               float64
effect              float64
dtype: object

In [46]:
vehicles.dtypes

trip                     object
position                 object
timestamp                 int64
vehicle                  object
occupancy_status        float64
occupancy_percentage    float64
dtype: object

In [49]:
vehicles.head(3)

                                                trip  ... occupancy_percentage
0  {'trip_id': '231741', 'start_date': '20210310'...  ...                  NaN
1  {'trip_id': '232385', 'start_date': '20210310'...  ...                 20.0
2  {'trip_id': '232741', 'start_date': '20210310'...  ...                  NaN

[3 rows x 6 columns]

In [48]:
trip_updates.dtypes

trip                 object
stop_time_update     object
vehicle              object
timestamp           float64
dtype: object